@model ATS.Data.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/Client/Client_Layout.cshtml";

}

<style>
    .login-main {
        margin: auto;
        padding: 0;
        width: 420px;
        padding-top: 10%;
    }

    @@media (max-width:400px) {
        .login-main {
            margin: auto;
            padding: 0;
            width: 90% !important;
            padding-top: 10%;
        }
    }

    .login-main .card {
        background-color:#dee0e2 !important;
        box-shadow: 0 3px 15px rgba(143, 143, 145, 0.3);
        border: none;
        height: auto;
    }

        .login-main .card .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 30px;
            background-color: #ffffff !important;
            border-bottom: none !important;
            color: #502358 !important;
            font-weight: bold;
            font-size: 20px;
        }

    .login-main .form-control:focus {
        border-color: #502358 !important;
        box-shadow: none !important;
    }

    .login-main .form-group .form-control {
        border-radius: 30px;
    }

    .login-main .form-control {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da80;
        border-radius: .25rem;
    }

    .login-main .login-btn {
    }

        .login-main .login-btn button {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 12px;
            color: #502358;
            font-weight: bold;
            height: 32px;
            width: 80px;
            line-height: 30px;
            background: #fff;
            border-radius: 30px;
            text-align: center;
            margin: auto;
            border: 1px solid orange;
        }

    .with p {
        font-size: 14px;
        color: #000;
    }

    .loginoricon .fab {
        font-size: 13px;
        line-height: 25px;
        color: #fff;
        transition: 0.5s ease-in-out;
    }

    .loginoricon a {
        list-style: none;
        cursor: pointer;
        display: block;
        width: 25px;
        height: 25px;
        background: #fff;
        border-radius: 50%;
        text-align: center;
        position: relative;
        margin-left: 4px;
        transition: 0.5s ease-in-out;
    }


    .loginoricon .div:nth-child(1) a {
        background: #3b5998;
    }

    .loginoricon .div:nth-child(2) a {
        background: #55acee;
    }

    .loginoricon .div:nth-child(3) a {
        background: #cd201f;
    }

    .blockquote cite {
        font-size: 14px;
        cursor: pointer;
        color: #000;
    }

    .blockquote-footer {
        display: block;
        font-size: 80%;
        color: #020a13;
    }

    .ValidationMessage .alert-success {
        color: #3c327c;
        background-color: #3ed491;
        border-color: #57eaa8;
        font-size: 17px;
    }

    .ValidationMessage .alert-danger {
        color: #f8f9fa;
        background-color: #f15a2f;
        border-color: #ec5d33;
        font-size: 17px;
    }
</style>

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@


<div class="login-main">
<div class="card">
    <div class="card-header text-center mt-2">
        Sign In
    </div>
    <div class="card-body">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-light">Sign In </button>
            </div>
        </form>     
        <div>

        </div>


    </div>
</div>
</div>

