
@{
    ViewData["Title"] = "swoSingalperson";
    Layout = "~/Views/Shared/Client/Client_Layout.cshtml";
    var getid = ViewBag.Viewid;
}


<p style="display:none" id="getid">@ViewBag.Viewid</p>
<div id="swosinglperson" style="margin-top:6%">


    <div class="swosinglperson">
        <div class="container">
            <div class="basic-info text-center mt-5">
                <div class="emp-img"> <img src="~/Client_plugin/img/emp.png" alt="" style="width:50px; margin-bottom: 15px;"> </div>
                <p style="margin-bottom: 5px;font-weight: 600;"> Employee Name : {{commonpersondataList.officialName}}</p>
                <p>
                    <span>
                        Designation and Current Workplace : {{commonpersondataList.currentdesignation}}, {{commonpersondataList.workplace}}<br>
                        - এর চাকুরীকালে উন্নয়ন খাতে ফাপাড ও অভ্যন্তরীণ / কোর অডিট কর্তৃক উত্থাপিত / অমীমাংসিত নিরীক্ষা আপত্তি বিবরণী
                        :
                    </span>
                </p>
            </div>
        </div>
    </div>



    <div class="listof-data mt-4 main-p-l" id="hhhh">
        <div class="container">

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Sl</th>
                        <th>Paragraph</th>
                        <th>Project</th>
                        <th> Audit </th>
                        <th>Division</th>

                        <th>Title</th>
                        <th>Amount</th>
                        <th>Process</th>
                        <th>Pending</th>
                        <th>Settled</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>


                    <tr class="text-center" v-for="(data, index) in individualpersonList">
                        <td> {{index+1}} </td>
                        <th> {{data.para}}</th>
                        <td> {{data.projectName}} </td>
                        <td>{{data.auditName}} </td>

                        <td>{{data.divisionName}} </td>
                        <td> {{data.title}} </td>
                        <td>{{data.amount}} Tk  </td>

                        <td>
                            <span class=" text-danger font-weight-bolder" v-if="data.statusProcess==1"> Process </span>
                        </td>

                        <td>
                            <span class="text-warning font-weight-bolder" v-if="data.statusPending==2"> Pending </span>
                        </td>

                        <td>
                            <span class="text-success font-weight-bolder" v-if="data.statusSettled==3"> Settled </span>
                        </td>


                        <td>
                            <button class="btn-group btn-info btn-group-sm " v-on:click="Viewdata(data.id)" data-toggle="modal" data-target=".modal-add">
                                <span class="pr-2"> <i class="fas fa-eye"></i> </span> View Details
                            </button>
                        </td>

                    </tr>

                    <tr class="total-count">

                        <td colspan="6" class="text-right pr-2 text-info">  <span>Total Amount = </span>  </td>
                        <td class="text-info">  <span> {{totalAmount}}  Tk </span> </td>
                        <td class="text-danger text-center"> <span> {{countone}} </span> </td>
                        <td class="text-warning text-center"> <span>{{counttwo}} </span>  </td>
                        <td class="text-success text-center">  <span>{{countthree}}  </span> </td>
                        <td>  <span class="pl-2">Total = {{Totalcount}} </span></td>
                    </tr>


                    <!-- <tr class="total-count">

                        <td colspan="5" class="text-right pr-2 text-info">  <span>Total Amount </span>  </td>
                        <td class="text-info">  <span> Tk {{total}} </span> </td>
                        <td class="text-danger text-center"> <span>Process = {{countone}} </span> </td>
                        <td class="text-warning text-center"> <span>Pending =  {{counttwo}} </span>  </td>
                        <td  class="text-success text-center">  <span>Settled =  {{countthree}} </span> </td>
                        <td>  <span class="pl-2">Status =  {{count}}</span></td>
                      </tr> -->

                </tbody>

            </table>

        </div>
    </div>




    <div class="modal fade bd-example-modal-lg modal-add" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <a class="close text-right pr-3 pt-2" data-dismiss="modal" aria-label="Close" style="cursor:pointer;color:red">
                    <span aria-hidden="true">&times;</span>
                </a>

                <div class="modal-body">
                    <div id="print">
                        <div class="padding-left-right style-ul-li">

                            <ul>
                                <li> <span> <b>para : </b> </span> {{viewsinglpersondatadata.para}}  </li>
                                <li> <b> Name : </b> <span> </span>  {{viewsinglpersondatadata.officialName}} </li>
                                <li>  <b>Emaloyee Id : </b> <span> {{viewsinglpersondatadata.employeeId}}</span>   </li>
                                <li>  <b>Objection Titel : </b> <span></span>  {{viewsinglpersondatadata.title}} </li>
                                <li>  <b>First Designation : </b> <span></span>  {{viewsinglpersondatadata.firstdesignation}} ,<span>Current Designation :</span>  {{viewsinglpersondatadata.currentdesignation}} </li>
                                <li>  <b>Date of Birth : </b> <span></span>  {{viewsinglpersondatadata.dateofBirth}},  <span>Joining Date :</span>  {{viewsinglpersondatadata.joiningDate}}  </li>
                                <li>  <b>Years : </b> <span></span>  {{viewsinglpersondatadata.years}} </li>
                                <li>  <b>Department Name : </b> <span></span>  {{viewsinglpersondatadata.departmentName}}, <span> <b>Audit Name : </b></span>  {{viewsinglpersondatadata.auditName}}, <span> <b> Project Name : </b></span>  {{viewsinglpersondatadata.projectName}} </li>
                                <li> <span> <b>Division Name : </b> </span>  {{viewsinglpersondatadata.divisionName}}, <span> <b> District Name : </b></span>  {{viewsinglpersondatadata.districtName}}, <span> <b> Upazila Name : </b></span>  {{viewsinglpersondatadata.upazilaName}} </li>
                                <li> <span> <b>Mobile No : </b> </span>  {{viewsinglpersondatadata.mobileNo}}, <span> <b> Email : </b></span>  {{viewsinglpersondatadata.email}}, <span> <b> WorkPlace : </b> </span>  {{viewsinglpersondatadata.workplace}}</li>
                                <li> <span> <b> Amount : </b></span>  {{viewsinglpersondatadata.amount}} </li>
                                <li> <span> <b>Audit objection create Date : </b> </span>  {{viewsinglpersondatadata.auditobjectioncreateDate}}, <span> <b>Audit objection submissions Date : </b> </span>  {{viewsinglpersondatadata.auditobjectionsubmissionsDate}} </li>
                                <li>
                                    <b>Status : </b>
                                    <span class=" text-danger font-weight-bolder" v-if="viewsinglpersondatadata.statusProcess==1"> Process </span>
                                    <span class="text-warning font-weight-bolder" v-if="viewsinglpersondatadata.statusPending==2"> Pending </span>
                                    <span class="text-success font-weight-bolder" v-if="viewsinglpersondatadata.statusSettled==3"> Settled </span>
                                </li>

                                <li>
                                    <b>Description :</b>

                                    <p v-html="viewsinglpersondatadata.description"></p>

                                </li>
                            </ul>
                        </div>

                    </div>


                    <div class="text-center">
                        <button class="btn btn-outline-secondary" @@click="print">Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>






</div>





@section swoSingalpersonjs{
    <script src="~/Client_plugin/Client_Vue_Controllers/swosinglperson.js"></script>
}


