@model ATS.Data.ViewModels.ChangePasswordVM

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}



<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">
            <div class="card-body">
                <h4 class="mt-4">Change Password</h4>
                <hr />
                <form asp-action="ChangePassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Create" class="btn btn-primary" />

                    </div>
                    <div class="form-group text-center">
                        <a asp-action="AdminProfile">Back to List</a>
                    </div>
                </form>
                <div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>

