
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Audit/_Audit_Layout.cshtml";
}

<p style="display:none" id="Auditname">@User.Identity.Name</p>
<div id="AuditHome">

    <div class="notification-list-titel mt-5">
        <h4> <span>M</span>essage List</h4>
        <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width:147px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>




    <table class="table table-sm table-bordered table-hover mt-4">
        <thead>
            <tr>
                <th>Sl</th>
                <th>Employe Id</th>
                <th>Employe Name</th>
                <th>Mobile-No</th>
                <th>Email</th>
                <th>Workplace</th>
                <th>Employee Reply Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            
            <tr v-for="homedata in AuditNotificatioList">
                <th>2</th>
                <td>{{homedata.employeeId}}</td>
                <td>{{homedata.officialName}}</td>
                <td>{{homedata.mobileNo}}</td>
                <td>{{homedata.email}}</td>
                <td>{{homedata.workplace}}</td>
                <td>{{homedata.employeeReplyDate}}</td>
                <td>
                    <span class=" text-danger font-weight-bolder" v-if="homedata.statusProcess==1"> Process </span>
                    <span class="text-warning font-weight-bolder" v-if="homedata.statusPending==2"> Pending </span>
                    <span class="text-success font-weight-bolder" v-if="homedata.statusSettled==3"> Settled </span>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-primary btn-sm" @@click="replyAudit(homedata.id)">Reply</button>
                </td>
            </tr>

        </tbody>
    </table>
</div>
@section AuditHomejs{
    <script src="~/Audit/Vue-controller/AuditHome.js"></script>
}
